//  COLORS
    $color__pink:           #FD297B !default;
    $color__pink--light:    #FF655B !default;

//  FONTS
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

//  SHADOW
    $shadow__gray: 0 4px 9px 0 rgba(213,218,224,.5);

//  DIMENSIONS
    $user-card__height: 21rem;
