@import 'base';
@import 'modules/list';

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    body {
        background: $color__gray--light;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }
}

.container {

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.icon {
    transform: translate(0px, 2px);
}

.user {

    margin: 3rem auto;

    .user__card {

        width: 100%;
        background: #fff;
        border-radius: .8em;
        box-shadow: $shadow__gray;

        .user__image {
            position: static;
            width: 100%;
            height: $user-card__height;
            object-fit: cover;
            border-radius: .8em .8em 0 0;

        }
        .user__card__info {
            margin: 1em 1em 1em 1em;
        }
        .user__name {
            text-transform: capitalize;
            margin-bottom: 1em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid $color__gray--light;
        }
        .user__location {
            text-transform: capitalize;
        }
    }
}

.evaluation-display {

    position: absolute;
    z-index: -1;
    width: 100%;

    .evaluation-display__list {
        width: 20vw;
        height: 100vh;
        background: #fff;
        box-shadow: $shadow__gray;
        text-align: center;
    }

    .evaluation-display__list--likes {
        float: right;
    }
}

.evaluation {
    .button__display__list--dislikes {
    }
    margin: 1rem auto;
    .evaluation__button {
        float: left;
        margin: 0.5rem;
        width: 4rem;
        height: 4rem;
    
        outline: none;
        border: none;
        border-radius: 50%;
        background: #fff;
        box-shadow: $shadow__gray;
    
        transition: 0.2s ease-in-out;
    
        &:hover {
            transform: scale(1.08);
        }
        &:active {
            transition: 0.1s;
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
    .icon__evaluation__button--like {
        color: $color__green;
    }
    .icon__evaluation__button--dislike {
        color: $color__pink;
    }
    .icon__evaluation__button--map {
        color: $color__gray;
    }
}



#map__user-map {
    width: 100%;
    height: $user-card__height
}

.map__user-map {
    display: none;
}


.display__user-map {
}